


<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>スタンプガチャ</title>
<meta name="Description" content="" />
<meta name="Keywords"  content="" />

<%= stylesheet_link_tag "/assets/gacha/anime", media: "all" %>
<%= stylesheet_link_tag "/assets/gacha/shake", :media => "all" %>
</head>
<body>

<!DOCTYPE html>
<html>
    <!--<head>-->
    <!--    <meta charaset="utf-8">-->
    <!--    <meta name="viewport" content="width=device-width,user-scalable=no">-->
    <!--    <meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--    <meta  name="apple-mobile-web-app-status-bar-style" content="black-translucent">-->
        
        <!--<script type="text/javascript" src="enchant.js"></script>-->
        <!--<script type="text/javascript" src="gacha/ui.enchant.js"></script>-->
    <!--    <script type="text/javascript" src="game.js"></script>-->
    <!--    %= javascript_include_tag "/assets/gacha/enchant.js" %>-->
        
        
        
        
    <!--    <title>test</title>-->
    <!--    <style type="text/css">-->
    <!--        body{background-color:black;margin:0;}-->
    <!--    </style>-->
    <!--</head>-->
    <body>
    	<center><h1>StampGacha</h1>
    	
    	<center><ui class="actions">
									<a href=<%= mystamp_user_path(current_user.id)  %> class="button alt special">マイスタンプへ</a>
									<a href="/gacha/stampgacha" class="button alt special">もっかいする？(100pt)</a>
								</ui></center>


    <% if @stampgacha == "hazure"%>
        <section id="two" class="wrapper style2">
        	
				
				<div class="container">
					<div class="row">
						<div class="6u">
							<section class="special slideRight">
							    <div id="object" class="bigEntrance shake-horizontal">
				                    <h2>ざんねん！</h2>
					                <h5>はずれです...</h5>
					                <h5>少しだけポイントを返すよ</h5>
                                </div>
								<div id="object" class="expandUp">
								<!--<a href=%= new_user_registration_path  %> class="image fit"><img src="assets/top/pic01.jpg" alt="" /></a>-->
								
                                    <%= image_tag "/assets/gacha/hazureman.png", class: 'result-stamp shake-slow' %>
                                </div>
                                <br>
								
								
							</section>
						</div>
						
					</div>
				</div>
			</section>
        
        
    <% else %>
    	
        <section id="two" class="wrapper style2">
				<div class="container">
					<div class="row">
						<div class="6u">
							<section class="special slideRight">
								<h2>おめでとう！</h2>
								
								<h1><%= @stampgacha.name %>のスタンプゲット！</h1>
				            	
								<div id="object" class="expandUp">
									
									<% reado = @stampgacha.rate %>
									<% moji =""%>
								    <% while reado > 0 %>
								    	<% reado = reado -1 %>
								    	<% moji = moji + "★"%>
								    <% end %>
								    
								    <span><h1>レア度:<%= moji %></h1></span>
								</div>
								
								<div id="object" class="slideExpandUp shake-slow">
                                    <%= image_tag @stampgacha.image.url, class: 'result-stamp' %>
                                </div>
								
								
								    
								
								
							</section>
						</div>
						
					</div>
				</div>
			</section>
        
        
        
        
     <% end %>
     
     
     
     
     
     

    </body>
</html>
