<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    名前
    <%= f.text_field :name %>
  </div>

  <div class="field">
    email
    <%= f.text_field :email %>
  </div>
  
  <!-- 追加箇所 開始 -->
  <div class="field">
    現在のマイ画像
    <% if user.image? %>
      <div class="thumbnail">
        <%= image_tag user.image.url %>
      </div>
    <% end %><br>
    <% f.label :image %><br>
    <%= f.file_field :image %>
    <!--%= f.hidden_field :image_cache %>-->
  </div>
  <!--<div class="field">-->
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
  <!--  % if @user.persisted? && @user.image? %>-->
  <!--    <label>-->
  <!--      %= f.check_box :remove_image %>-->
  <!--      画像を削除-->
  <!--    </label>-->
  <!--  % end %>-->
  <!--</div>-->
  <!-- 追加箇所 終了 -->
  
  <!-- 管理flg -->
  <!--<div class="field">-->
  <!--  %= f.hidden_field :admin_flg ,0 %>-->
  <!--</div>-->
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
